<center>
<h1>Welcome to the Animal and Car Management System</h1>

<h2>Animals</h2>

<a href="{% url 'create_animal' %}"><button>Create Animal</button></a>
<a href="{% url 'delete_animal'%}"><button>Delete Animal</button></a>
<a href="{% url 'animal_list' %}"><button>List Animals</button></a>


<h2>Cars</h2>

<a href="{% url 'create_car' %}"><button>Create Car</button></a>
<a href="{% url 'delete_car' %}"><button>Delete Car</button></a>
<a href="{% url 'car_list' %}"><button>List Cars</button></a>
</center>